In [1]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('Casos_Diarios_Estado_Nacional_Defunciones_20230625.csv')

df

,cve_ent,poblacion,nombre,17-03-2020,18-03-2020,19-03-2020,20-03-2020,21-03-2020,22-03-2020,23-03-2020,...,14-06-2023,15-06-2023,16-06-2023,17-06-2023,18-06-2023,19-06-2023,20-06-2023,21-06-2023,22-06-2023,23-06-2023
0,1,1434635,AGUASCALIENTES,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2,3634868,BAJA CALIFORNIA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,804708,BAJA CALIFORNIA SUR,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1000617,CAMPECHE,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,5730367,CHIAPAS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,8,3801487,CHIHUAHUA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,9,9018645,DISTRITO FEDERAL,0,0,0,0,0,1,1,...,1,0,0,1,0,0,0,0,0,0
7,5,3218720,COAHUILA,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,6,785153,COLIMA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,1868996,DURANGO,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,6228175,GUANAJUATO,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
11,12,3657048,GUERRERO,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
12,13,3086414,HIDALGO,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,14,8409693,JALISCO,0,0,0,1,0,0,0,...,0,0,0,0,0,0,4,0,0,0
14,15,17427790,MEXICO,0,1,0,0,0,0,0,...,2,0,0,0,0,1,0,0,0,0
15,16,4825401,MICHOACAN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,17,2044058,MORELOS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,18,1288571,NAYARIT,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
18,19,5610153,NUEVO LEON,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,20,4143593,OAXACA,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,21,6604451,PUEBLA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,22,2279637,QUERETARO,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,23,1723259,QUINTANA ROO,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
23,24,2866142,SAN LUIS POTOSI,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
24,25,3156674,SINALOA,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,26,3074745,SONORA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,27,2572287,TABASCO,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
27,28,3650602,TAMAULIPAS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,29,1380011,TLAXCALA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,30,8539862,VERACRUZ,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,1,0,0
30,31,2259098,YUCATAN,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
31,32,1666426,ZACATECAS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,0,127792286,Nacional,0,3,0,1,0,2,1,...,5,0,3,3,4,2,6,3,1,1

In [3]:

# Get basic statistics
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
        cve_ent     poblacion  17-03-2020  18-03-2020  19-03-2020  20-03-2020  \
count  33.00000  3.300000e+01        33.0   33.000000        33.0   33.000000
mean   16.00000  7.744987e+06         0.0    0.181818         0.0    0.060606
std     9.66954  2.179977e+07         0.0    0.583874         0.0    0.242306
min     0.00000  7.851530e+05         0.0    0.000000         0.0    0.000000
25%     8.00000  1.868996e+06         0.0    0.000000         0.0    0.000000
50%    16.00000  3.156674e+06         0.0    0.000000         0.0    0.000000
75%    24.00000  5.610153e+06         0.0    0.000000         0.0    0.000000
max    32.00000  1.277923e+08         0.0    3.000000         0.0    1.000000

       21-03-2020  22-03-2020  23-03-2020  24-03-2020  ...  14-06-2023  \
count        33.0   33.000000   33.000000   33.000000  ...   33.000000
mean          0.0    0.121212    0.060606    0.181818  ...    0.303030
std           0.0    0.415149    0.242306    0.583874  ...    0.951474
min           0.0    0.000000    0.000000    0.000000  ...    0.000000
25%           0.0    0.000000    0.000000    0.000000  ...    0.000000
50%           0.0    0.000000    0.000000    0.000000  ...    0.000000
75%           0.0    0.000000    0.000000    0.000000  ...    0.000000
max           0.0    2.000000    1.000000    3.000000  ...    5.000000

       15-06-2023  16-06-2023  17-06-2023  18-06-2023  19-06-2023  20-06-2023  \
count        33.0   33.000000   33.000000   33.000000   33.000000   33.000000
mean          0.0    0.181818    0.181818    0.242424    0.121212    0.363636
std           0.0    0.635145    0.583874    0.751262    0.415149    1.245446
min           0.0    0.000000    0.000000    0.000000    0.000000    0.000000
25%           0.0    0.000000    0.000000    0.000000    0.000000    0.000000
50%           0.0    0.000000    0.000000    0.000000    0.000000    0.000000
75%           0.0    0.000000    0.000000    0.000000    0.000000    0.000000
max           0.0    3.000000    3.000000    4.000000    2.000000    6.000000

       21-06-2023  22-06-2023  23-06-2023
count   33.000000   33.000000   33.000000
mean     0.181818    0.060606    0.060606
std      0.583874    0.242306    0.242306
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000
max      3.000000    1.000000    1.000000

[8 rows x 1196 columns]

In [4]:
# Check for missing values
missing_values = df.isnull().sum()

print("Missing values in each column:")
print(missing_values)

Missing values in each column:
cve_ent       0
poblacion     0
nombre        0
17-03-2020    0
18-03-2020    0
             ..
19-06-2023    0
20-06-2023    0
21-06-2023    0
22-06-2023    0
23-06-2023    0
Length: 1197, dtype: int64

In [5]:
# Extract date columns 
date_columns = df.columns[3:] 

# Convert date columns to datetime 
date_columns_dt = pd.to_datetime(date_columns, format='%d-%m-%Y') 

# Find the time range 
start_date = date_columns_dt.min() 
end_date = date_columns_dt.max() 
print(f"Time range: {start_date.date()} to {end_date.date()}")

Time range: 2020-03-17 to 2023-06-23

In [6]:
# Sum the death counts for all date columns
df_nacional = df[df["nombre"] == "Nacional"]

total_deaths = df_nacional[date_columns].sum().sum()

print(f"Total deaths: {total_deaths}")

Total deaths: 334336