In [1]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('(brasil)8a1743d9-e689-4112-afb3-8247369b63d7.csv')

# Display the first few rows
print("First 5 rows:")
print(df.head())

First 5 rows:
   _id                   URS                      MICRO     MACRO  ID  \
0    1                   NaN                        NaN       NaN   1
1    2          JUIZ DE FORA               JUIZ DE FORA   SUDESTE   2
2    3  GOVERNADOR VALADARES       GOVERNADOR VALADARES     LESTE   3
3    4                   NaN                        NaN       NaN   4
4    5         TEOFILO OTONI  TEOFILO OTONI/MALACACHETA  NORDESTE   5

      DATA_NOTIFICACAO CLASSIFICACAO_CASO       SEXO  IDADE  FAIXA_ETARIA  \
0  2020-05-15T00:00:00    CASO CONFIRMADO  MASCULINO    0.0         <1ANO
1  2020-05-08T00:00:00    CASO CONFIRMADO  MASCULINO   33.0  30 A 39 ANOS
2  2020-06-19T00:00:00    CASO CONFIRMADO   FEMININO   25.0  20 A 29 ANOS
3  2020-06-14T00:00:00    CASO CONFIRMADO  MASCULINO   36.0  30 A 39 ANOS
4  2020-06-14T00:00:00    CASO CONFIRMADO  MASCULINO   51.0  50 A 59 ANOS

   MUNICIPIO_RESIDENCIA    CODIGO    COMORBIDADE           EVOLUCAO  \
0         NAO INFORMADO       NaN  NAO INFORMADO         RECUPERADO
1          JUIZ DE FORA  313670.0  NAO INFORMADO         RECUPERADO
2  GOVERNADOR VALADARES  312770.0            NAO  EM ACOMPANHAMENTO
3         NAO INFORMADO       NaN  NAO INFORMADO  EM ACOMPANHAMENTO
4         TEOFILO OTONI  316860.0  NAO INFORMADO       INVESTIGACAO

      INTERNACAO            UTI           RACA     DATA_ATUALIZACAO  \
0  NAO INFORMADO  NAO INFORMADO  NAO INFORMADO  2020-08-13T00:00:00
1            NAO            NAO  NAO INFORMADO  2020-08-13T00:00:00
2            NAO            NAO  NAO INFORMADO  2020-08-13T00:00:00
3  NAO INFORMADO  NAO INFORMADO  NAO INFORMADO  2020-08-13T00:00:00
4            SIM            NAO  NAO INFORMADO  2020-08-13T00:00:00

  ORIGEM_DA_INFORMACAO
0                 ESUS
1                 ESUS
2                 ESUS
3                 ESUS
4                SIVEP

In [2]:

# Get basic statistics
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
                _id            ID         IDADE         CODIGO
count  46446.000000  46446.000000  45581.000000   45238.000000
mean   23223.500000  23223.500000     43.584322  313516.001569
std    13407.949638  13407.949638     18.477021    2294.357824
min        1.000000      1.000000      0.000000  310010.000000
25%    11612.250000  11612.250000     31.000000  311330.000000
50%    23223.500000  23223.500000     41.000000  313190.000000
75%    34834.750000  34834.750000     55.000000  315460.000000
max    46446.000000  46446.000000    220.000000  317220.000000

In [4]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
_id                        0
URS                     1208
MICRO                   1208
MACRO                   1208
ID                         0
DATA_NOTIFICACAO        7144
CLASSIFICACAO_CASO         0
SEXO                       0
IDADE                    865
FAIXA_ETARIA             894
MUNICIPIO_RESIDENCIA       0
CODIGO                  1208
COMORBIDADE                0
EVOLUCAO                   0
INTERNACAO                 0
UTI                        0
RACA                       0
DATA_ATUALIZACAO           0
ORIGEM_DA_INFORMACAO       0
dtype: int64

In [6]:
#Look for recovered/dead
df["EVOLUCAO"].unique()

array(['RECUPERADO', 'EM ACOMPANHAMENTO', 'INVESTIGACAO'], dtype=object)

In [5]:
# Group by a column (replace 'column_name' with the actual column)
print("\nGrouped Data:")
grouped = df.groupby('column_name').mean()
print(grouped)

Grouped Data:

KeyError: 'column_name'

In [7]:
hispanics = df[df['Race and Hispanic Origin Group'] == 'Hispanic']
hispanics.describe()

             Month     MMWR Week  COVID-19 Deaths   Total Deaths
count  4455.000000  19305.000000     16628.000000   19794.000000
mean      6.200000     25.271795        82.894575     462.262706
std       3.350998     14.672627       795.317344    4018.255436
min       1.000000      1.000000         0.000000       0.000000
25%       3.000000     13.000000         0.000000      23.000000
50%       6.000000     25.000000         0.000000      56.000000
75%       9.000000     37.000000        23.000000     244.000000
max      12.000000     53.000000     45356.000000  225525.000000

In [9]:
print(hispanics.isnull().sum())

Data As Of                            0
Start Date                            0
End Date                              0
Group                                 0
Year                                  0
Month                             19800
MMWR Week                          4950
Week-Ending Date                   4950
HHS Region                            0
Race and Hispanic Origin Group        0
Age Group                             0
COVID-19 Deaths                    7627
Total Deaths                       4461
Footnote                          12743
dtype: int64