In [9]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('defunciones_covid19_2020_2024.csv', sep=";")

# Display the first few rows
print("First 5 rows:")
print(df.head())

First 5 rows:
    AÑO   FECHA_DEF SEXO_NOMBRE  EDAD_TIPO  EDAD_CANT  COD_COMUNA      COMUNA  \
0  2020  2020-12-31       Mujer          1         99        7101       Talca
1  2020  2020-03-20      Hombre          1         64       13102   Cerrillos
2  2020  2020-03-21       Mujer          1         82       13128       Renca
3  2020  2020-03-25      Hombre          1         82        8101  Concepción
4  2020  2020-03-26      Hombre          1         79        8112     Hualpén

               NOMBRE_REGION DIAG1 CAPITULO_DIAG1  ... DIAG2 CAPITULO_DIAG2  \
0                  Del Maule  U071        U00-U99  ...   NaN            NaN
1  Metropolitana de Santiago  U071        U00-U99  ...   NaN            NaN
2  Metropolitana de Santiago  U071        U00-U99  ...   NaN            NaN
3                 Del Bíobío  U071        U00-U99  ...   NaN            NaN
4                 Del Bíobío  U071        U00-U99  ...   NaN            NaN

  GLOSA_CAPITULO_DIAG2 CODIGO_GRUPO_DIAG2 GLOSA_GRUPO_DIAG2  \
0                  NaN                NaN               NaN
1                  NaN                NaN               NaN
2                  NaN                NaN               NaN
3                  NaN                NaN               NaN
4                  NaN                NaN               NaN

  CODIGO_CATEGORIA_DIAG2 GLOSA_CATEGORIA_DIAG2 CODIGO_SUBCATEGORIA_DIAG2  \
0                    NaN                   NaN                       NaN
1                    NaN                   NaN                       NaN
2                    NaN                   NaN                       NaN
3                    NaN                   NaN                       NaN
4                    NaN                   NaN                       NaN

   GLOSA_SUBCATEGORIA_DIAG2     LUGAR_DEFUNCION
0                       NaN                Otro
1                       NaN                Otro
2                       NaN  Hospital o Clínica
3                       NaN  Hospital o Clínica
4                       NaN  Hospital o Clínica

[5 rows x 27 columns]

In [11]:
# Convert to datetime 
df['FECHA_DEF'] = pd.to_datetime(df['FECHA_DEF']) 

# Extract year 
df['Year'] = df['FECHA_DEF'].dt.year 
# Find the range of years 
min_year = df['Year'].min() 
max_year = df['Year'].max() 
print(f"Range of years: {min_year} - {max_year}")

Range of years: 2020 - 2024

In [3]:

# Get basic statistics
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
              Month      MMWR Week  COVID-19 Deaths  Total Deaths
count  35640.000000  154440.000000    152813.000000  1.295980e+05
mean       6.200000      25.271795        59.456584  7.619797e+02
std        3.350669      14.672295      1270.175825  1.502455e+04
min        1.000000       1.000000         0.000000  0.000000e+00
25%        3.000000      13.000000         0.000000  0.000000e+00
50%        6.000000      25.000000         0.000000  2.600000e+01
75%        9.000000      37.000000         0.000000  1.500000e+02
max       12.000000      53.000000    244841.000000  2.883904e+06

In [12]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
AÑO                              0
FECHA_DEF                        0
SEXO_NOMBRE                      0
EDAD_TIPO                        0
EDAD_CANT                        0
COD_COMUNA                       0
COMUNA                           0
NOMBRE_REGION                    0
DIAG1                            0
CAPITULO_DIAG1                   0
GLOSA_CAPITULO_DIAG1             0
CODIGO_GRUPO_DIAG1               0
GLOSA_GRUPO_DIAG1                0
CODIGO_CATEGORIA_DIAG1           0
GLOSA_CATEGORIA_DIAG1            0
CODIGO_SUBCATEGORIA_DIAG1        0
GLOSA_SUBCATEGORIA_DIAG1         0
DIAG2                        57264
CAPITULO_DIAG2               58215
GLOSA_CAPITULO_DIAG2         58215
CODIGO_GRUPO_DIAG2           58215
GLOSA_GRUPO_DIAG2            58215
CODIGO_CATEGORIA_DIAG2       58215
GLOSA_CATEGORIA_DIAG2        58215
CODIGO_SUBCATEGORIA_DIAG2    58215
GLOSA_SUBCATEGORIA_DIAG2     58215
LUGAR_DEFUNCION                  0
Year                             0
dtype: int64