In [2]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('Provisional_COVID-19_Deaths_by_HHS_Region__Race__and_Age.csv')

# Display the first few rows
print("First 5 rows:")
print(df.head())

First 5 rows:
   Data As Of  Start Date    End Date    Group       Year  Month  MMWR Week  \
0  09/27/2023  12/29/2019  01/04/2020  By Week  2019/2020    NaN        1.0
1  09/27/2023  12/29/2019  01/04/2020  By Week  2019/2020    NaN        1.0
2  09/27/2023  12/29/2019  01/04/2020  By Week  2019/2020    NaN        1.0
3  09/27/2023  12/29/2019  01/04/2020  By Week  2019/2020    NaN        1.0
4  09/27/2023  12/29/2019  01/04/2020  By Week  2019/2020    NaN        1.0

  Week-Ending Date     HHS Region Race and Hispanic Origin Group    Age Group  \
0       01/04/2020  United States                       Hispanic    0-4 years
1       01/04/2020  United States                       Hispanic   5-17 years
2       01/04/2020  United States                       Hispanic  18-29 years
3       01/04/2020  United States                       Hispanic  30-39 years
4       01/04/2020  United States                       Hispanic  40-49 years

   COVID-19 Deaths  Total Deaths Footnote
0              0.0         104.0      NaN
1              0.0          41.0      NaN
2              0.0         190.0      NaN
3              0.0         237.0      NaN
4              0.0         325.0      NaN

C:\Users\Johnn\AppData\Local\Temp\ipykernel_6760\1708428234.py:4: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Provisional_COVID-19_Deaths_by_HHS_Region__Race__and_Age.csv')

In [3]:

# Get basic statistics
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
              Month      MMWR Week  COVID-19 Deaths  Total Deaths
count  35640.000000  154440.000000    152813.000000  1.295980e+05
mean       6.200000      25.271795        59.456584  7.619797e+02
std        3.350669      14.672295      1270.175825  1.502455e+04
min        1.000000       1.000000         0.000000  0.000000e+00
25%        3.000000      13.000000         0.000000  0.000000e+00
50%        6.000000      25.000000         0.000000  2.600000e+01
75%        9.000000      37.000000         0.000000  1.500000e+02
max       12.000000      53.000000    244841.000000  2.883904e+06

In [4]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
Data As Of                             0
Start Date                             0
End Date                               0
Group                                  0
Year                                   0
Month                             158400
MMWR Week                          39600
Week-Ending Date                   39600
HHS Region                             0
Race and Hispanic Origin Group         0
Age Group                              0
COVID-19 Deaths                    41227
Total Deaths                       64442
Footnote                           98450
dtype: int64

In [5]:
# Group by a column (replace 'column_name' with the actual column)
print("\nGrouped Data:")
grouped = df.groupby('column_name').mean()
print(grouped)

Grouped Data:

KeyError: 'column_name'

In [7]:
hispanics = df[df['Race and Hispanic Origin Group'] == 'Hispanic']
hispanics.describe()

             Month     MMWR Week  COVID-19 Deaths   Total Deaths
count  4455.000000  19305.000000     16628.000000   19794.000000
mean      6.200000     25.271795        82.894575     462.262706
std       3.350998     14.672627       795.317344    4018.255436
min       1.000000      1.000000         0.000000       0.000000
25%       3.000000     13.000000         0.000000      23.000000
50%       6.000000     25.000000         0.000000      56.000000
75%       9.000000     37.000000        23.000000     244.000000
max      12.000000     53.000000     45356.000000  225525.000000

In [9]:
print(hispanics.isnull().sum())

Data As Of                            0
Start Date                            0
End Date                              0
Group                                 0
Year                                  0
Month                             19800
MMWR Week                          4950
Week-Ending Date                   4950
HHS Region                            0
Race and Hispanic Origin Group        0
Age Group                             0
COVID-19 Deaths                    7627
Total Deaths                       4461
Footnote                          12743
dtype: int64