In [4]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('deaths_by_race_ethnicity.csv')

# Display the first few rows
print("First 5 rows:")
print(df.head())

First 5 rows:
                                      Race/Ethnicity  Percentage of deaths  \
0                                           Hispanic                 14.61
1      Non-Hispanic American Indian or Alaska Native                  1.04
2                                 Non-Hispanic Asian                  3.15
3                                 Non-Hispanic Black                 13.57
4  Non-Hispanic Native Hawaiian or Other Pacific ...                  0.20

   Count of deaths
0           175218
1            12473
2            37756
3           162673
4             2371

In [5]:

# Get basic statistics
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
       Percentage of deaths  Count of deaths
count              6.000000          6.00000
mean              16.666667     199842.00000
std               25.646752     307538.78009
min                0.200000       2371.00000
25%                1.567500      18793.75000
50%                8.360000     100214.50000
75%               14.350000     172081.75000
max               67.430000     808561.00000

In [6]:
total_deaths = df['Count of deaths'].sum() 
print(f"Total deaths: {total_deaths:,}")

Total deaths: 1,199,052

In [5]:
# Group by a column (replace 'column_name' with the actual column)
print("\nGrouped Data:")
grouped = df.groupby('column_name').mean()
print(grouped)

Grouped Data:

KeyError: 'column_name'

In [7]:
hispanics = df[df['Race and Hispanic Origin Group'] == 'Hispanic']
hispanics.describe()

             Month     MMWR Week  COVID-19 Deaths   Total Deaths
count  4455.000000  19305.000000     16628.000000   19794.000000
mean      6.200000     25.271795        82.894575     462.262706
std       3.350998     14.672627       795.317344    4018.255436
min       1.000000      1.000000         0.000000       0.000000
25%       3.000000     13.000000         0.000000      23.000000
50%       6.000000     25.000000         0.000000      56.000000
75%       9.000000     37.000000        23.000000     244.000000
max      12.000000     53.000000     45356.000000  225525.000000

In [9]:
print(hispanics.isnull().sum())

Data As Of                            0
Start Date                            0
End Date                              0
Group                                 0
Year                                  0
Month                             19800
MMWR Week                          4950
Week-Ending Date                   4950
HHS Region                            0
Race and Hispanic Origin Group        0
Age Group                             0
COVID-19 Deaths                    7627
Total Deaths                       4461
Footnote                          12743
dtype: int64