In [2]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('Monthly_COVID-19_Death_Rates_per_100_000_Population_by_Age_Group__Race_and_Ethnicity__Sex__and_Region_with_Double_Stratification_20241106.csv')

# Display the first few rows
print("First 5 rows:")
print(df.head())

First 5 rows:
   data_as_of jurisdiction_residence data_period_start data_period_end group  \
0  10/17/2024               Region 1        01/01/2020      01/31/2020   Age
1  10/17/2024               Region 1        02/01/2020      02/29/2020   Age
2  10/17/2024               Region 1        03/01/2020      03/31/2020   Age
3  10/17/2024               Region 1        04/01/2020      04/30/2020   Age
4  10/17/2024               Region 1        05/01/2020      05/31/2020   Age

   subgroup1 subgroup2  covid_deaths  crude_rate  conf_int_95pct_lower_crude  \
0  0-4 years       NaN           0.0        0.00                         0.0
1  0-4 years       NaN           0.0        0.00                         0.0
2  0-4 years       NaN           1.0        0.14                         0.0
3  0-4 years       NaN           0.0        0.00                         0.0
4  0-4 years       NaN           0.0        0.00                         0.0

   conf_int_95pct_upper_crude  \
0                         0.0
1                         0.0
2                         0.4
3                         0.0
4                         0.0

                                                note
0                                                NaN
1                                                NaN
2  Rates for death counts <20 should be interpret...
3                                                NaN
4                                                NaN

In [3]:

# Get basic statistics
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
        covid_deaths    crude_rate  conf_int_95pct_lower_crude  \
count   61026.000000  61026.000000                61026.000000
mean      235.693311      8.269130                    6.678270
std      1765.340309     34.304165                   29.965646
min         0.000000      0.000000                    0.000000
25%         0.000000      0.000000                    0.000000
50%         0.000000      0.000000                    0.000000
75%        29.000000      2.260000                    1.510000
max    105339.000000   1466.300000                 1417.240000

       conf_int_95pct_upper_crude
count                61026.000000
mean                     9.870966
std                     39.358366
min                      0.000000
25%                      0.000000
50%                      0.000000
75%                      2.900000
max                   1515.350000

In [4]:
total_deaths = df['covid_deaths'].sum() 
print(f"Total deaths: {total_deaths:,}")

Total deaths: 14,383,420.0

In [24]:
# Function to get total covid deaths for a given group 
def total_covid_deaths_by_col(df, col, group_column): 
    #return df.groupby(group_column)['covid_deaths'].sum()
    return df[df[col] == group_column]['covid_deaths'].sum()

In [27]:
groups = ["Age", "Race", "Sex", "All"]

for group in groups:
    print(f"{group}: {total_covid_deaths_by_col(df, col="group", group_column=group)}")

Age: 2413914.0
Race: 2398104.0
Sex: 2413942.0
All: 2413942.0

In [28]:
df_race = df[df['group'] == "Race"]
df_race

,data_as_of,jurisdiction_residence,data_period_start,data_period_end,group,subgroup1,subgroup2,covid_deaths,crude_rate,conf_int_95pct_lower_crude,conf_int_95pct_upper_crude,note
627,10/17/2024,Region 1,01/01/2020,01/31/2020,Race,Hispanic,NaN,0.0,0.00,0.00,0.00,NaN
628,10/17/2024,Region 1,02/01/2020,02/29/2020,Race,Hispanic,NaN,0.0,0.00,0.00,0.00,NaN
629,10/17/2024,Region 1,03/01/2020,03/31/2020,Race,Hispanic,NaN,22.0,1.21,0.70,1.71,NaN
630,10/17/2024,Region 1,04/01/2020,04/30/2020,Race,Hispanic,NaN,516.0,28.28,25.84,30.72,NaN
631,10/17/2024,Region 1,05/01/2020,05/31/2020,Race,Hispanic,NaN,383.0,20.99,18.89,23.09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11281,10/17/2024,United States,05/01/2024,05/31/2024,Race,Non-Hispanic White,NaN,1215.0,0.62,0.58,0.65,NaN
11282,10/17/2024,United States,06/01/2024,06/30/2024,Race,Non-Hispanic White,NaN,1270.0,0.65,0.61,0.68,NaN
11283,10/17/2024,United States,07/01/2024,07/31/2024,Race,Non-Hispanic White,NaN,2267.0,1.15,1.10,1.20,NaN
11284,10/17/2024,United States,08/01/2024,08/31/2024,Race,Non-Hispanic White,NaN,3964.0,2.01,1.95,2.08,NaN
11285,10/17/2024,United States,09/01/2024,09/30/2024,Race,Non-Hispanic White,NaN,3627.0,1.84,1.78,1.90,NaN

In [32]:
subgroups = df_race["subgroup1"].unique()

sum = 0
for subgroup in subgroups:
    tmp = total_covid_deaths_by_col(df_race, "subgroup1", subgroup)
    print(f"{subgroup}: {tmp}")
    sum+=tmp
    
print(sum)

Hispanic: 350436.0
Non-Hispanic American Indian or Alaska Native: 24946.0
Non-Hispanic Asian: 75512.0
Non-Hispanic Black: 325346.0
Non-Hispanic Native Hawaiian or Other Pacific Islander: 4742.0
Non-Hispanic White: 1617122.0
2398104.0

In [33]:
df_race["subgroup2"].unique()

array([nan], dtype=object)

In [40]:
mask = df["jurisdiction_residence"] == "United States"
df_us = df[mask]
df_us

,data_as_of,jurisdiction_residence,data_period_start,data_period_end,group,subgroup1,subgroup2,covid_deaths,crude_rate,conf_int_95pct_lower_crude,conf_int_95pct_upper_crude,note
10260,10/17/2024,United States,2020-01-01,2020-01-31,Age,0-4 years,NaN,0.0,0.00,0.00,0.00,NaN
10261,10/17/2024,United States,2020-02-01,2020-02-29,Age,0-4 years,NaN,0.0,0.00,0.00,0.00,NaN
10262,10/17/2024,United States,2020-03-01,2020-03-31,Age,0-4 years,NaN,4.0,0.02,0.00,0.04,Rates for death counts <20 should be interpret...
10263,10/17/2024,United States,2020-04-01,2020-04-30,Age,0-4 years,NaN,5.0,0.03,0.00,0.05,Rates for death counts <20 should be interpret...
10264,10/17/2024,United States,2020-05-01,2020-05-31,Age,0-4 years,NaN,7.0,0.04,0.01,0.06,Rates for death counts <20 should be interpret...
...,...,...,...,...,...,...,...,...,...,...,...,...
78997,10/17/2024,United States,2024-05-01,2024-05-31,Age and Race,75+ years,Non-Hispanic White,864.0,5.07,4.73,5.41,NaN
78998,10/17/2024,United States,2024-06-01,2024-06-30,Age and Race,75+ years,Non-Hispanic White,964.0,5.66,5.30,6.02,NaN
78999,10/17/2024,United States,2024-07-01,2024-07-31,Age and Race,75+ years,Non-Hispanic White,1687.0,9.90,9.43,10.38,NaN
79000,10/17/2024,United States,2024-08-01,2024-08-31,Age and Race,75+ years,Non-Hispanic White,3030.0,17.79,17.15,18.42,NaN
79001,10/17/2024,United States,2024-09-01,2024-09-30,Age and Race,75+ years,Non-Hispanic White,2755.0,16.17,15.57,16.78,NaN

In [41]:
groups = ["Age", "Race", "Sex", "All"]

for group in groups:
    print(f"{group}: {total_covid_deaths_by_col(df_us, col="group", group_column=group)}")

Age: 1206957.0
Race: 1199052.0
Sex: 1206971.0
All: 1206971.0

In [43]:
df_regions = df[~mask]
df_regions

,data_as_of,jurisdiction_residence,data_period_start,data_period_end,group,subgroup1,subgroup2,covid_deaths,crude_rate,conf_int_95pct_lower_crude,conf_int_95pct_upper_crude,note
0,10/17/2024,Region 1,2020-01-01,2020-01-31,Age,0-4 years,NaN,0.0,0.00,0.00,0.00,NaN
1,10/17/2024,Region 1,2020-02-01,2020-02-29,Age,0-4 years,NaN,0.0,0.00,0.00,0.00,NaN
2,10/17/2024,Region 1,2020-03-01,2020-03-31,Age,0-4 years,NaN,1.0,0.14,0.00,0.40,Rates for death counts <20 should be interpret...
3,10/17/2024,Region 1,2020-04-01,2020-04-30,Age,0-4 years,NaN,0.0,0.00,0.00,0.00,NaN
4,10/17/2024,Region 1,2020-05-01,2020-05-31,Age,0-4 years,NaN,0.0,0.00,0.00,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
75919,10/17/2024,Region 9,2024-05-01,2024-05-31,Age and Race,75+ years,Non-Hispanic White,112.0,5.70,4.64,6.75,NaN
75920,10/17/2024,Region 9,2024-06-01,2024-06-30,Age and Race,75+ years,Non-Hispanic White,158.0,8.04,6.79,9.29,NaN
75921,10/17/2024,Region 9,2024-07-01,2024-07-31,Age and Race,75+ years,Non-Hispanic White,227.0,11.55,10.05,13.05,NaN
75922,10/17/2024,Region 9,2024-08-01,2024-08-31,Age and Race,75+ years,Non-Hispanic White,319.0,16.23,14.45,18.01,NaN
75923,10/17/2024,Region 9,2024-09-01,2024-09-30,Age and Race,75+ years,Non-Hispanic White,235.0,11.96,10.43,13.49,NaN

In [44]:
groups = ["Age", "Race", "Sex", "All"]

for group in groups:
    print(f"{group}: {total_covid_deaths_by_col(df_regions, col="group", group_column=group)}")

Age: 1206957.0
Race: 1199052.0
Sex: 1206971.0
All: 1206971.0

In [34]:
# Convert the date columns to datetime 
df['data_period_start'] = pd.to_datetime(df['data_period_start']) 
df['data_period_end'] = pd.to_datetime(df['data_period_end']) 

# Find the time range 
start_date = df['data_period_start'].min() 
end_date = df['data_period_end'].max() 

print(f"Time range: {start_date.date()} to {end_date.date()}")

Time range: 2020-01-01 to 2024-09-30