In [2]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('API_SP.POP.TOTL_DS2_en_csv_v2_9949.csv', sep=",")

# Display the first few rows
print("First 5 rows:")
print(df.head())

First 5 rows:
                  Country Name Country Code     Indicator Name Indicator Code  \
0                        Aruba          ABW  Population, total    SP.POP.TOTL
1  Africa Eastern and Southern          AFE  Population, total    SP.POP.TOTL
2                  Afghanistan          AFG  Population, total    SP.POP.TOTL
3   Africa Western and Central          AFW  Population, total    SP.POP.TOTL
4                       Angola          AGO  Population, total    SP.POP.TOTL

          1960         1961         1962         1963         1964  \
0      54608.0      55811.0      56682.0      57475.0      58178.0
1  130692579.0  134169237.0  137835590.0  141630546.0  145605995.0
2    8622466.0    8790140.0    8969047.0    9157465.0    9355514.0
3   97256290.0   99314028.0  101445032.0  103667517.0  105959979.0
4    5357195.0    5441333.0    5521400.0    5599827.0    5673199.0

          1965  ...         2015         2016         2017         2018  \
0      58782.0  ...     104257.0     104874.0     105439.0     105962.0
1  149742351.0  ...  600008424.0  616377605.0  632746570.0  649757148.0
2    9565147.0  ...   33753499.0   34636207.0   35643418.0   36686784.0
3  108336203.0  ...  408690375.0  419778384.0  431138704.0  442646825.0
4    5736582.0  ...   28127721.0   29154746.0   30208628.0   31273533.0

          2019         2020         2021         2022         2023  \
0     106442.0     106585.0     106537.0     106445.0     106277.0
1  667242986.0  685112979.0  702977106.0  720859132.0  739108306.0
2   37769499.0   38972230.0   40099462.0   41128771.0   42239854.0
3  454306063.0  466189102.0  478185907.0  490330870.0  502789511.0
4   32353588.0   33428486.0   34503774.0   35588987.0   36684202.0

   Unnamed: 68
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 69 columns]

In [ ]:
df_chile = df[df['Country Name'] == 'Chile'][['Country Name', 'Country Code', '2019', '2020', '2021', '2022', '2023']]

# Format numbers with commas for better readability 
for year in ['2019', '2020', '2021', '2022', '2023']: 
    df_chile[year] = df_chile[year].apply(lambda x: f"{int(x):,}")

print(df_chile)

   Country Name Country Code        2019        2020        2021        2022  \
39        Chile          CHL  19,039,485  19,300,315  19,493,184  19,603,733

          2023
39  19,629,590

In [11]:
# Convert to datetime 
df['FECHA_DEF'] = pd.to_datetime(df['FECHA_DEF']) 

# Extract year 
df['Year'] = df['FECHA_DEF'].dt.year 
# Find the range of years 
min_year = df['Year'].min() 
max_year = df['Year'].max() 
print(f"Range of years: {min_year} - {max_year}")

Range of years: 2020 - 2024

In [3]:

# Get basic statistics
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
              Month      MMWR Week  COVID-19 Deaths  Total Deaths
count  35640.000000  154440.000000    152813.000000  1.295980e+05
mean       6.200000      25.271795        59.456584  7.619797e+02
std        3.350669      14.672295      1270.175825  1.502455e+04
min        1.000000       1.000000         0.000000  0.000000e+00
25%        3.000000      13.000000         0.000000  0.000000e+00
50%        6.000000      25.000000         0.000000  2.600000e+01
75%        9.000000      37.000000         0.000000  1.500000e+02
max       12.000000      53.000000    244841.000000  2.883904e+06

In [12]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
AÃ‘O                              0
FECHA_DEF                        0
SEXO_NOMBRE                      0
EDAD_TIPO                        0
EDAD_CANT                        0
COD_COMUNA                       0
COMUNA                           0
NOMBRE_REGION                    0
DIAG1                            0
CAPITULO_DIAG1                   0
GLOSA_CAPITULO_DIAG1             0
CODIGO_GRUPO_DIAG1               0
GLOSA_GRUPO_DIAG1                0
CODIGO_CATEGORIA_DIAG1           0
GLOSA_CATEGORIA_DIAG1            0
CODIGO_SUBCATEGORIA_DIAG1        0
GLOSA_SUBCATEGORIA_DIAG1         0
DIAG2                        57264
CAPITULO_DIAG2               58215
GLOSA_CAPITULO_DIAG2         58215
CODIGO_GRUPO_DIAG2           58215
GLOSA_GRUPO_DIAG2            58215
CODIGO_CATEGORIA_DIAG2       58215
GLOSA_CATEGORIA_DIAG2        58215
CODIGO_SUBCATEGORIA_DIAG2    58215
GLOSA_SUBCATEGORIA_DIAG2     58215
LUGAR_DEFUNCION                  0
Year                             0
dtype: int64